{% assign current_count = 0 %}
{% assign past_count = 0 %}

{% for project in site.projects %}
{% if project.current %}
{% assign current_count = current_count | plus: 1 %}
{% else %}
{% assign past_count = past_count | plus: 1 %}
{% endif %}
{% endfor %}

{% assign current_mod = current_count | modulo: 2 %}
{% assign past_mod = past_count | modulo: 2 %}


<section>

  <h2 class="display-3">Current projects</h2>

  <div class="container-fluid">

    {% if current_mod == 1 %}
    <!-- Odd -->
    <div class="row row-cols-3 gx-5 gy-5">
      {% else %}
      <!-- Even -->
    <div class="row row-cols-2 gx-5 gy-5">
      {% endif %}
      
      {% for project in site.projects %}
      {% if project.current %}

      <div class-"col">


	<div class="card contain-img">
	  <a href="{{ project.url }}"><img src="/assets/images/{{ project.image }}" class="card-img-top" alt="{{ project.alt }}"></a>

	  <div class="card-body">
              <div class="d-grid flex-wrap flex-grow-1 gap-2 d-md-flex justify-content-md-start py-3">
		<a class="btn btn-primary btn-sm px-4 me-md-2" href="{{ project.url }}">
		  Read More
		</a>
		<a class="btn btn-outline-secondary btn-sm px-4" href="{{ project.link }}">
		  Project Link
</a>
              </div>	    


	    <h3 class="card-title">{{ project.name }}</h5>
	      <p>{{ project.description }}</p>

	  </div>
	</div>
      </div>

      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>




<section>

  <h2 style="margin-top:1em" class="display-3">Past projects</h2>

  <div class="container-fluid">
    {% if past_mod == 1 %}
    <div class="row row-cols-3 gx-5 gy-5">
    {% else %}
    <div class="row row-cols-2 gx-5 gy-5">
      {% endif %}

      {% for project in site.projects %}
      {% if project.current %}
      {% else %}
      <div class-"col">

	<div class="card contain-img">
	  <a href="{{ project.url }}"><img src="/assets/images/{{ project.image }}" class="card-img-top" alt="{{ project.alt }}"></a>

	  <div class="card-body">
              <div class="d-grid flex-wrap flex-grow-1 gap-2 d-md-flex justify-content-md-start py-3">
		<a class="btn btn-primary btn-sm px-4 me-md-2" href="{{ project.url }}">
		  Read More
		</a>
		<a class="btn btn-outline-secondary btn-sm px-4" href="{{ project.link }}">
		  Project Link
</a>
              </div>	    


	    <h3 class="card-title">{{ project.name }}</h5>
	      <p>{{ project.description }}</p>

	  </div>
	</div>
      </div>

      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
