---
---


@import "bootstrap/bootstrap";
@import "main";


table td ul li a {
    display:block;
    margin-bottom: 1em;
    
}


#transcripts li {
    display: inline;
    padding: .25em;
    margin-right: .25em
}
