<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta property="og:image" content="assets/images/pandas.jpg""/>
    <meta property="og:type" content="event"">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="Information and registration for the Nonvisual Data Science workshops series hosted by Pandas and Iota">
    
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">




  </head>
  <body>

    

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
